/* style.css */

#box {
    background: #777;
    height: 200px;
    width: 200px;
    margin: 40px auto;
    padding: 50px;
    box-sizing: border-box;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

/* Colors */
body#colors {
    background: rgba(25,52,84,1);
    color: #fff;
}

#colors #container {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: hsla(12,100%,50%,0.2);
}
 
#colors #box {
    background: linear-gradient(0deg, blue 5%, green 50%, red);
    background: radial-gradient(dodgerblue, yellow, aqua);
}

/* Shadows */

#shadows #container {
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    background: #fc3;
    text-align: center;
    box-shadow: 10px 10px 10px #333;
}

#shadows h1 {
    color: #fff;
    text-shadow: 2px 2px 10px rgba(5,5,5,0.6), 1px 1px rgba(0,0,255,0.9);
}

/* CSS Columns */
#three-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    
    -webkit-column-rule: solid;
    -moz-column-rule: solid;
    column-rule: solid;
    
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
    
    -webkit-column-rule-color: #333;
    -moz-column-rule-color: #333;
    column-rule-color: #333;
}

/* Animations & Transitions */

@keyframes box {
    from {
        background-color: dodgerblue; 
        border-radius: 40px;
        top: 0;
        left: 0;
    }
    to {
        background: rgba(25,52,84,1); 
        border-radius: 100px;
        top: 100px;
        left: 100px;
    }
}

#animations #box{
    position: relative;
    text-align: center;
    animation-name: box;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    
    /* shorthand 
    animation: box 10s linear 2s 3 alternate;
    */
}

#box2 {
    position: relative;
    background: rgba(30, 50, 150, 0.9);
    width: 200px;
    height: 200px;
    color: #fff;
}
#box2:hover {
    background: purple;
    width: 300px;
    height: 300px;
    transition: width 8s, height 2s, background 20s;
}

/* Buttons */

@keyframes buttonAnimation {
    from {padding: 10px 20px; font-size: inherit;}
    to {padding: 15px 30px; font-size: 24px}
}

.button {
    display: inline-block;
    background: #fc3;
    background: linear-gradient(#fc3, #f91);
    border: solid 1px #999;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0 3px rgba(0,0,0,0.6);
    
}

.button:hover {
    border-color: #888;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
    background: #f91;
    background: linear-gradient(to top, #fc3, #f91);
    animation: buttonAnimation .5s forwards;
}

.button:active {
    position: relative;
    top: 1px;
}

.alt-button {
    background: radial-gradient(#fc3, #f91);
}

.alt-button:hover {
    background: radial-gradient(#f91, #fc3);
}

/* Orbit Animation */

/* STAR PULSE ANIMATION */
@-webkit-keyframes starPulse {
    from {opacity: 1;}
    to   {opacity: 0.2;}
}

@-moz-keyframes starPulse {
    from {opacity: 1;}
    to   {opacity: 0.2;}
}

@keyframes starPulse {
    from {opacity: 1;}
    to   {opacity: 0.2;}
}


/* SOLAR FLARE ANIMATION */
@keyframes solarFlare {
    from {
       -webkit-box-shadow: 0 0 50px #f5c91a;
       -moz-box-shadow: 0 0 50px #f5c91a;
       -o-box-shadow: 0 0 50px #f5c91a;
    }
    to {
       -webkit-box-shadow: 0 0 100px #f5c91a;
       -moz-box-shadow: 0 0 100px #f5c91a;
       -o-box-shadow: 0 0 100px #f5c91a; 
       box-shadow: 0 0 100px #f5c91a;
    }
}

/* ROTATE ANIMATION */
@-webkit-keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@-moz-keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@-o-keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

html, body {
    height: 100%;
    width: 100%;
}

#universe {
    background: black;
    background: -webkit-radial-gradient(#555, #000);
    background: -moz-radial-gradient(#555, #000);
    background: -o-radial-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}

#stars {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: url('stars.png');
    
    -webkit-animation: starPulse 4s infinite alternate;
    -moz-animation: starPulse 4s infinite alternate;
    -o-animation: starPulse 4s infinite alternate;
    animation: starPulse 4s infinite alternate;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    background: orange;
    background: -webkit-radial-gradient(#f5c313, #ec7e08);
    background: -moz-radial-gradient(#f5c313, #ec7e08);
    background: -o-radial-gradient(#f5c313, #ec7e08);
    background: radial-gradient(#f5c313, #ec7e08);
    
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
    
    -webkit-animation: solarFlare 4s infinite alternate;
    -moz-animation: solarFlare 4s infinite alternate;
    -o-animation: solarFlare 4s infinite alternate;
    animation: solarFlare 4s infinite alternate;
    
}

#earthOrbit {
    /* border: solid 1px red; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    z-index: 4;
    height: 700px;
    width: 600px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    -o-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}

#earth {
    position: absolute;
    top: 50%;
    left: 0;
    
    margin-top: -40px;
    
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#moonOrbit {
    /* border: solid 1px red; */
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: -20px;
    margin-top: -60px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    -webkit-animation: spin 4s linear infinite reverse;
    -moz-animation: spin 4s linear infinite reverse;
    -o-animation: spin 4s linear infinite reverse;
    animation: spin 4s linear infinite reverse;
}

#moon {
    height: 20px;
    width: 20px;
    background: gray;
    background: -webkit-radial-gradient(#ddd, #888);
    background: -moz-radial-gradient(#ddd, #888);
    background: -o-radial-gradient(#ddd, #888);
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
}
